/* work sans font from google font */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:ital,wght@0,900;1,900&family=Work+Sans:wght@500;600;700;900&display=swap');



  *{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
  }